.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.counter-wrepper {
  margin: 10px;
  height: 15%;
  width: 100px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.counter-value {
  border: 1px solid black;
  width: 80%;
  text-align: center;
}

.table-wrepper {
  width: 60%;
  border: 1px solid black;
  margin: 10px;
}

.table-block {
  width: 33%;
  border: 1px solid black;
  padding: 10px;
}

.table-line,
.table-header {
  display: flex;
  flex-direction: row;
}

.table-body {
  display: flex;
  flex-direction: column;
}

.addNew {
  border: 1px solid black;
  padding: 10px;
}